@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: hidden;
}

.c-scrollbar {
  @apply m-1;
}

.c-scrollbar_thumb {
  left: 0;
  background-color: #fff;
}

.cursor--highlight {
  opacity: 0.2;
}
