---
import Layout from "layouts/Layout.astro";

import Hero from "components/Hero";
import About from "components/About.astro";
import Projects from "components/Projects.astro";
import Contact from "components/Contact.astro";
import Footer from "components/Footer.astro";
---

<Layout title="stylessh dev">
  <main class="min-h-screen overflow-hidden">
    {/* Layer bg */}
    <div class="fixed inset-0 w-full h-full -z-10 opacity-5 layer"></div>

    <Hero client:load />
    <About />
    <Projects />
    <Contact />

    <Footer />
  </main>
</Layout>
