---
import Layout from "layouts/Layout.astro";

import Hero from "components/Hero";
import About from "components/About.astro";
import Projects from "components/Projects.astro";
import Contact from "components/Contact.astro";
import Footer from "components/Footer.astro";
---

<Layout title="stylessh dev">
  <main class="min-h-screen overflow-x-hidden">
    <Hero client:load/>
    <About />
    <Projects />
    <Contact />

    <Footer />
  </main>
</Layout>
