<section
  class="min-h-screen flex justify-center items-center"
  id="about"
  data-scroll
  data-scroll-offset="75%"
  data-scroll-id="about"
>
  <div class="grid grid-cols-1 md:grid-cols-2 w-[90%] mx-auto gap-10">
    <article
      class="py-6 px-8 text-center md:text-left"
      data-scroll
      data-scroll-speed="1.2"
    >
      <h2 class="text-2xl text-gray-200 font-bold title">About me.</h2>

      <!-- Line -->
      <div class="h-16 w-0.5 bg-gray-200 my-6 mx-auto md:m-6"></div>

      <div class="text-white space-y-6">
        <p>
          I enjoy creating things that live on the internet, whether that be
          websites, applications, etc.
        </p>

        <p>
          I've created many cool stuff. You can see some of them in my <a
            href="http://github.com/stylessh"
            target="_blank"
            rel="noopener noreferrer"
            class="text-gray-300 border-b border-gray-300 inline-block"
            >github</a
          >, hope see you in there!
        </p>

        <h3>Here are a few technologies I've been working with recently:</h3>

        <div
          class="flex flex-col items-center justify-start md:flex-row md:space-x-12 text-gray-300"
        >
          <ul class="md:list-inside md:list-disc">
            <li>Javascript (ES6+)</li>
            <li>React.js</li>
            <li>Node.js</li>
          </ul>

          <ul class="md:list-inside md:list-disc">
            <li>Astro</li>
            <li>Typescript</li>
            <li>Python</li>
          </ul>
        </div>
      </div>
    </article>

    <article class="flex justify-center items-center relative">
      <img
        src=" /assets/me.webp"
        alt="Alan's picture"
        class="w-[400px] grayscale image block relative shadow-md"
        data-scroll
        data-scroll-speed="1.2"
      />

      <div
        data-scroll
        class="absolute w-[400px] h-full bg-transparent border-2 border-white left-[35%] top-[55%] md:left-[55%] md:top-[55%] transform -translate-x-1/2 -translate-y-1/2 z-[-1]"
      >
      </div>
    </article>
  </div>
</section>
