<section
  class="flex items-center justify-center min-h-screen"
  id="about"
  data-scroll
  data-scroll-offset="75%"
  data-scroll-id="about"
>
  <div class="grid grid-cols-1 md:grid-cols-2 w-[90%] mx-auto gap-10">
    <article
      class="px-8 py-6 text-center md:text-left"
      data-scroll
      data-scroll-speed="1.2"
    >
      <h2 class="text-2xl font-bold text-gray-200 title">About me.</h2>

      <!-- Line -->
      <div class="h-16 w-0.5 bg-gray-200 my-6 mx-auto md:m-6"></div>

      <div class="space-y-6 text-white">
        <p>
          Software Developer with +4 years of experience in web development.
          Currently working as a Full Stack Developer as a freelancer.
        </p>

        <p>
          I like to create cool stuff that people can use and take benefit. You
          can see some of them in my <a
            href="http://github.com/stylessh"
            target="_blank"
            rel="noopener noreferrer"
            class="inline-block text-gray-300 border-b border-gray-300"
            >github</a
          >.
        </p>

        <h3>Here are a few technologies I've been working with recently:</h3>

        <div
          class="flex flex-col items-center justify-start text-gray-300 md:flex-row md:space-x-12"
        >
          <ul class="md:list-inside md:list-disc">
            <li>Next.js</li>
            <li>React.js</li>
            <li>Node.js</li>
            <li>Rust</li>
          </ul>

          <ul class="md:list-inside md:list-disc">
            <li>Astro</li>
            <li>Typescript</li>
            <li>Python</li>
            <li>Deno</li>
          </ul>
        </div>
      </div>
    </article>

    <article class="relative flex items-center justify-center md:justify-end">
      <img
        src=" /assets/FullSizeRender.jpeg"
        alt="Alan's picture"
        class="w-[400px] aspect-square block relative shadow-md object-cover select-none pointer-events-none rounded-md"
        data-scroll
        data-scroll-speed="1.2"
      />

      <div
        data-scroll
        class="absolute w-[400px] aspect-square bg-transparent border-2 border-white top-[55%] md:-right-[35%] transform -translate-x-1/2 -translate-y-1/2 z-[-1] rounded-md"
      >
      </div>
    </article>
  </div>
</section>
