<section
  class="h-screen flex flex-col justify-center items-center"
  data-scroll
  data-scroll-speed="1.2"
  data-scroll-offset="75%"
  data-scroll-id="contact"
>
  <div class="text-center w-[90%] md:w-[40%] text-white">
    <h2 class="text-3xl font-bold mb-4">Say Hello!</h2>

    <p>
      Tell me whatever you want! If you have a project, be free to contact me,
      I'll try my best to make it for you.
    </p>

    <a
      href="mailto:stylesshjs@gmail.com"
      class="mt-8 inline-block text-gray-300 border border-gray-300 py-4 px-8 hover:text-white hover:boder-white transition-colors"
    >
      Get in touch
    </a>
  </div>
</section>
