<section
  class="flex flex-col items-center justify-center h-screen"
  data-scroll
  data-scroll-speed="1.2"
  data-scroll-offset="75%"
  data-scroll-id="contact"
>
  <div class="text-center w-[90%] md:w-[40%] text-white">
    <h2 class="mb-4 text-3xl font-bold">Say 👋!</h2>

    <p>
      Got a project you'd like to discuss? Or just want to say hi? Feel free to
      drop me a line.
    </p>

    <a
      href="mailto:stylesshjs@gmail.com"
      class="inline-block px-8 py-4 mt-8 text-gray-300 transition-colors border border-gray-300 rounded-md hover:text-black hover:bg-gray-300"
    >
      Get in touch
    </a>
  </div>
</section>
