<div
  class="absolute top-0 left-0 hidden w-4 h-4 transition-opacity bg-white rounded-full opacity-50 pointer-events-none select-none -z-10 cursor sm:block"
>
</div>

<script>
  import { gsap } from "gsap";
  const cursor = document.querySelector(".cursor") as HTMLDivElement;
  const highlightEls = ["a", ".c-scrollbar", ".showcase-line"];

  // check screen size
  let isMobile = window.matchMedia("(max-width: 768px)").matches;

  const cursorMove = (e) => {
    cursor.style.zIndex = "100";

    // move mouse
    cursor.style.top = `${e.clientY - cursor.offsetHeight / 2}px`;
    cursor.style.left = `${e.clientX - cursor.offsetWidth / 2}px`;

    // highlight on hover elements
    highlightEls.forEach((el) => {
      const elements = document.querySelectorAll(el);

      elements.forEach((element) => {
        element.addEventListener("mouseover", () => {
          cursor.classList.add("cursor--highlight");

          gsap.to(cursor, {
            scale: 2,
            duration: 0.2,
          });
        });

        element.addEventListener("mouseleave", () => {
          cursor.classList.remove("cursor--highlight");

          gsap.to(cursor, {
            scale: 1,
            duration: 0.2,

            ease: "power2.inOut",
          });
        });
      });
    });
  };

  // window resize event
  window.addEventListener("resize", () => {
    isMobile = window.matchMedia("(max-width: 768px)").matches;

    if (isMobile) cursor.style.display = "none";
    else cursor.style.display = "block";
  });

  if (!isMobile) document.addEventListener("mousemove", cursorMove);
</script>
