<footer class="w-[90%] mx-auto py-12" data-scroll data-scroll-speed="1">
  <p class="italic text-center text-gray-300 md:text-right">
    Don't let the comment speak for your code.
  </p>

  <!-- Line -->
  <div class="w-full h-[1px] my-4 bg-gray-400/50"></div>

  <section
    class="grid grid-cols-1 space-y-8 text-center md:grid-cols-3 md:space-y-0"
  >
    <article>
      <h3 class="mb-2 text-sm text-gray-300">connect with me</h3>
      <p class="font-bold text-white">tw @stylesshDev</p>
    </article>

    <article>
      <h3 class="mb-2 text-sm text-gray-300">follow me</h3>
      <a
        class="font-bold text-white hover:underline"
        href="https://www.youtube.com/channel/UCF0tuBAtBp2MUP1Iup4p1kQ"
        rel="noreferrer"
        target="_blank">yt.</a
      >
      <a
        class="font-bold text-white hover:underline"
        href="https://www.instagram.com/lateegram/"
        rel="noreferrer"
        target="_blank">ig.</a
      >
    </article>

    <article>
      <h3 class="mb-2 text-sm text-gray-300">say hello</h3>
      <a
        href="mailto:stylesshjs@gmail.com"
        class="font-bold text-white hover:underline">Send an email</a
      >
    </article>
  </section>
</footer>
