<footer class="w-[90%] mx-auto py-12">
    <p class="text-gray-300 text-right">
        Got an interesting project? I can help you.
    </p>

    <!-- Line -->
    <div class="w-full h-0.5 my-4 bg-gray-300"></div>

    <section class="grid grid-cols-3 text-center">
        <article>
            <h3 class="text-gray-300 mb-2 text-sm">connect with me</h3>
            <p class="text-white font-bold">tw @stylesshDev</p>
        </article>

        <article>
            <h3 class="text-gray-300 mb-2 text-sm">follow me</h3>
            <a class="text-white font-bold hover:underline" href="https://www.youtube.com/channel/UCF0tuBAtBp2MUP1Iup4p1kQ"
                rel="noreferrer" target="_blank">yt.</a>
            <a class="text-white font-bold hover:underline" href="https://www.instagram.com/lateegram/" rel="noreferrer"
                target="_blank">ig.</a>
        </article>

        <article>
            <h3 class="text-gray-300 mb-2 text-sm">say hello</h3>
            <a href="mailto:stylesshjs@gmail.com" class="text-white font-bold hover:underline">Send an email</a>
        </article>
    </section>
</footer>