<section
  class="h-screen flex flex-col-reverse md:flex-col gap-y-6 justify-end w-[90%] mx-auto pt-40 md:py-16 relative text-center md:text-left"
  data-scroll
  data-scroll-speed="1.2"
  data-scroll-id
>
  <h1
    class="text-sm md:text-[6.1vw] text-white font-bold !leading-tight title eslogan z-10 md:absolute bottom-[16%]"
  >
    Software Developer
  </h1>

  <h1 class="text-[10vw] text-white mix-blend-exclusion font-bold z-0 title">
    Alan Daniel
  </h1>
</section>

<script>
  import { gsap } from "gsap";

  // animate hero
  gsap.from(".title", {
    opacity: 0,
    duration: 1,
    ease: "power4.out",
    delay: 2.5,
    stagger: 0.2,
  });

  // invert letter on hover hero

  const title = document.querySelector(".eslogan");

  // each letter in a span
  const letters = title.textContent.split("");
  title.textContent = "";

  letters.forEach((letter) => {
    const span = document.createElement("span");
    span.textContent = letter;
    span.classList.add("letter");
    title.append(span);
  });

  const lettersSpans = document.querySelectorAll(".letter");

  const showLetters = (e: Event) => {
    gsap.to(e.target, {
      duration: 0.5,
      opacity: 1,
      color: "#000",
      backgroundColor: "#fff",
      ease: "power4.out",
    });
  };

  const hideLetters = (e: Event) => {
    gsap.to(e.target, {
      duration: 0.5,
      opacity: 0,
      ease: "power4.out",
      delay: 0.5,
    });
  };

  lettersSpans.forEach((span) => {
    span.addEventListener("mouseenter", showLetters);
    span.addEventListener("mouseleave", hideLetters);
  });
</script>
