<section class="h-screen relative">
    <div class="word">Hey there.</div>
    <div class="word">I'm Alan.</div>
    <div class="word">A creative developer.</div>
</section>

<style lang="scss">
    $speed: 20s;
    $wordCount: 3;

    .word {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: max-content;

        user-select: none;

        text-align: center;
        font-size: 5em;
        color: #fff;


        animation: word $speed infinite ease-in-out;

        @for $i from 0 to $wordCount {
            &:nth-child(#{$i + 1}) {
                animation-delay: calc(($speed / ($wordCount + 1) * $i) - $speed);
            }
        }

        @keyframes word {

            0%,
            5%,
            100% {
                filter: blur(1px) opacity(1);
            }

            20%,
            80% {
                filter: blur(0.2em) opacity(0);
            }
        }
    }
</style>