---
import SpotifyCard from "./SpotifyCard";
import Logo from "ui/Logo.astro";
---

<nav
  class="absolute text-white z-50 w-[90%] mx-auto top-0 left-0 right-0 py-4 flex items-center justify-between"
>
  <Logo />

  <div class="flex items-center space-x-6 text-sm md:text-base">
    <SpotifyCard client:load />

    <span class="currentSection"></span>
  </div>
</nav>

<script>
  import { getState, subscribe } from "utils/getCurrentSection";

  const curentSection = document.querySelector(".currentSection");

  const setCurrentSection = (section: string) => {
    curentSection.innerHTML = section;
  };

  const initialState = getState();

  setCurrentSection(initialState.activeSection);

  subscribe((state) => {
    setCurrentSection(state.activeSection);
  });
</script>
