<nav class="absolute text-white z-50 w-[90%] mx-auto top-0 left-0 right-0 py-8 flex items-center justify-between">
    <h1 class="font-bold">
        <a href="/">stylessh</a>
    </h1>

    <ul class="flex items-center space-x-6 text-sm md:text-base">
        <li>
            <a href="/posts">posts.</a>
        </li>
        <li>
            <a href="/snippets">snippets.</a>
        </li>
    </ul>
</nav>