---
import "locomotive-scroll/dist/locomotive-scroll.css";
import "styles/global.css";

import Navbar from "components/Navbar.astro";
import Welcome from "components/Welcome";
export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props as Props;

const DEFAULT_DESC: string =
  "Hey! I'm Alan (stylessh), a creative Web Developer. Come on and take a look into my projects!";

const isDev = import.meta.env.PUBLIC_ENV !== "prod";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
    <meta name="description" content={description || DEFAULT_DESC} />

    <meta name="theme-color" content="#111" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Stylessh - Web Developer" />
    <meta name="twitter:description" content={description || DEFAULT_DESC} />
    <meta name="twitter:image:src" content="/assets/me.webp" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://stylessh-v2.vercel.app" />
    <meta property="og:site_name" content="Stylessh" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description || DEFAULT_DESC} />
    <meta property="og:image" content="/assets/me.webp" />
    <meta property="og:type" content="object" />

    {/* google verify */}
    <meta
      name="google-site-verification"
      content="uYGv4nFCkm72fpaCHZG6z1_SC1TPDg750NkL_q5CkKk"
    />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="bg-[#111]">
    <Navbar />

    {!isDev && <Welcome client:load />}

    <div data-scroll-container>
      <slot />
    </div>

    <style is:global lang="scss">
      .spotify {
        &:hover {
          .card {
            display: block;

            &:hover {
              display: block;
            }
          }
        }
      }
    </style>
  </body>
</html>

<script>
  import LocomotiveScroll from "locomotive-scroll";

  new LocomotiveScroll({
    el: document.querySelector("[data-scroll-container]"),
    smooth: true,
    lerp: 0.05,
    multiplier: 0.5,

    smartphone: {
      smooth: true,
    },

    tablet: {
      smooth: true,
    },
  });
</script>
